body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  color: rgb(66,69,86);
  background: url('http://i.imgur.com/BJP2Q1j.jpg');
  background-size: cover;
  font-weight: 100;
}

.flex-container {
display: flex;
justify-content: center;
flex-direction: column;
height: 100%;
}

h1{
margin: 0;
font-size: 500px;
line-height: 400px;
font-weight: 100;
}

p {
margin: 0;
font-size: 50px;
}

.form {
line-height: 1.5;
border: none;
border-bottom: 3px solid #ebebeb;
margin-top: 100px;
width: 700px;
font-size: 2.9em;
color: white;
padding: 5px 10px;
background: transparent;
}

button {
  line-height: 2.0;
  border:3px solid white;
  font-size: 1.9em;
  color: rgb(66,69,86);
  padding: 5px 30px;
  background: rgba(255,255,255,1.0);
  border-radius: 5px;
  opacity: 0.8;
}

input[type=text]:focus {
outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: rgba(255,255,255,0.8);
}


/* MEDIA QUERY */

@media screen and ( max-width : 1200px ) {
  h1{
      margin: 0;
      font-size: 400px;
      line-height: 320px;
      font-weight: 100;
  }
  
  p {
      margin: 0;
      font-size: 41px;
  }
  
  .form {
    line-height: 1.4;
    border: none;
    border-bottom: 3px solid #ebebeb;
    margin-top: 20px;
    width: 560px;
    font-size: 2.5em;
    color: white;
    padding: 5px 10px;
    background: transparent;
  }

  button {
      line-height: 1.8;
      border:3px solid white;
      font-size: 1.6em;
      color: rgb(66,69,86);
      padding: 4px 25px;
      background: rgba(255,255,255,1.0);
      border-radius: 4px;
      opacity: 0.8;
  }
}

@media screen and ( max-width : 992px ) {
  h1{
      margin: 0;
      font-size: 300px;
      line-height: 240px;
      font-weight: 100;
  }
      
  p {
      margin: 0;
      font-size: 32px;
  }
  
  span {
      display: block;
  }
  
  .form {
    line-height: 1.2;
    border: none;
    border-bottom: 3px solid #ebebeb;
    margin-top: 60px;
    width: 420px;
    font-size: 2.0em;
    color: white;
    padding: 5px 10px;
    background: transparent;
  }

  button {
      line-height: 1.6;
      border:3px solid white;
      font-size: 1.6em;
      color: rgb(66,69,86);
      padding: 3px 20px;
      background: rgba(255,255,255,1.0);
      border-radius: 3px;
      opacity: 0.8;
  }
}

@media screen and ( max-width : 768px ) {

  h1{
      margin: 0;
      font-size: 150px;
      line-height: 110px;
      font-weight: 100;
  }
      
  p {
      margin: 0;
      font-size: 22px;
  }

  .form {
    line-height: 1.0;
    border: none;
    border-bottom: 3px solid #ebebeb;
    margin-top: 40px;
    width: 280px;
    font-size: 1.5em;
    color: white;
    padding: 5px 10px;
    background: transparent;
  }
  
  input {
      text-align: center;
  }
  
  button {
      display: block;
      margin: 10px auto;
      line-height: 1.4;
      border:3px solid white;
      font-size: 1.4em;
      color: rgb(66,69,86);
      padding: 2px 15px;
      background: rgba(255,255,255,1.0);
      border-radius: 2px;
      opacity: 0.8;
  }
}
